:root {
    --primary-color: #E5B299;
    --secondary-color: #B4846C;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --primary-font:"Raleway";
  }
body {
    margin: 40px auto;
    max-width: 100%;
    background-image:url("starfish.jpg");
    font-family: var(--primary-font);
    
  }
h1 {
    font-family: "Rock Salt";
    text-align: center;
    padding-bottom: 20px;
    line-height: 2;
    font-size: 50px;
}
h2 {
    font-family:var(--primary-font);
}
h3 {
    font-family: var(--primary-font);
    font-weight: bold;
    text-align: center;
}

p {
    text-align: center;
    line-height: 30px;
    font-family: var(--primary-font);
}
img {
    max-width: 100%;
    height: auto;
    background-color:#f5f2fe;
}
i {
    margin-right: 20px;
    margin-left: 10px;
    background-color:#f5f2fe;
}
nav {
    padding:30px;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}
nav a {
    text-decoration: none;
    color:black;
}
nav a:hover, nav li.active a , i{
    color:var(--secondary-color);
}
footer {
    margin:60px;
}

.hero {
     
    background-color: var(--primary-color);
    padding:100px 20px;
    box-shadow: var(--box-shadow);
}
.primary-link {
    border:solid var(--secondary-color) 1px;
    border-radius: 4px;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: white;
    box-shadow: var(--box-shadow);
    color:var(--secondary-color);
  }
  .projects {
      color: var(--primary-color);
  }
  .project-description {
      padding:80px 30px;
  }
  
.contact {
    display: block;
    text-align: center;
    text-decoration: none;
    
}
   
.front-end {
    color:grey;
    text-align: center;
    font-size: 20px;
}
.brand {
    font-family: "Rock Salt";
    font-size: 17px;
    text-decoration: none;
    color: black;
}
.col-md-6 {
    padding: 0 inherit;
    text-align: center;
    
}
.content-container {
    padding:80px 50px;
}

.btn-branding {
    border-radius: 4px;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background:var(--primary-color);
    box-shadow: var(--box-shadow);
    color:white;  
}
.footer-email{
    text-decoration: none;
    color: black;
    font-size: 24px;   
}
.social-media {
    
    margin-top: 50px;
}
.get-in-touch {
    font-family:var(--primary-font);
}
.content h3 {
    font-weight: normal;
}
.content h1 {
    font-weight: bold;
}

@media (max-width:768px){
    .brand{
        display: none;
    }
    h1 {
        font-size: 30px;
    }
    .img-projects {
        display: none;
    }
    .project-description{
        padding:0;
        margin-top: 0;
    }
    .content {
        padding:0;
    }
    .content-container {
        padding-top: 10px;
    }
    strong {
        font-size: 15px;
        font-weight: normal;
    }
    .content h2 {
        font-weight: bold;
    }
    .greeting {
        font-weight: normal;
    }
}