:root {
    --primary-color: #E5B299;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
body {
    margin: 60px auto;
    max-width: 100%;
    background-image:url("starfish.jpg");
    
  }
h1 {
    font-family: "Rock Salt";
    text-align: center;
    padding-bottom: 20px;
    line-height: 2;
    font-size: 50px;
}


p {
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    background-color: var(--secondary-color);
}
.wrapper {
     
    background-color: var(--primary-color);
    padding:50px;
    box-shadow: var(--box-shadow);
}
.primary-link {
    border:solid #B4846C 1px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: white;
    box-shadow: var(--box-shadow);
    color:#B4846C;
  }
  .projects {
      color: var(--primary-color);
  }
  
.contact {
    display: block;
    text-align: center;
    text-decoration: none;
    
}
.about-me {
    background-color:white;
}
.about-me-paragraph {
    background-color: var(--primary-color);
}
.front-end {
    color:grey;
    text-align: center;
    font-size: 20px;
}
.navbar-brand {
    font-family: "Rock Salt";
    font-size: 17px;
}
.col-md-6 {
    padding: 0 60px;
    text-align: center;
    
}

@media (max-width:768px){
    .navbar-brand{
        font-size: 10px;
    }
    h1 {
        font-size: 30px;
    }
    .img-projects {
        display: none;
    }
}